a {
    text-decoration: none;
}
.menu__link{
color: cornflowerblue;
font-size: 16px;
line-height: 20px;
}
.title__h1{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.paragraph{
    font-style: normal;
    font-weight: 300; 
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}
.title__h2{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}